<%- include ("./partials/_header") %>

<div class = "container">
    <div class = "col">
        <div class = "row-md-5">
            <div class = "card">
                <div class = "card-body">
                    <H3>Title: <%= videogames.title%></H3>
                    <H3>Description: <%= videogames.description%></H3>
                    <H3>Genre: <%= videogames.genre%></H3>
                    <form action = "/edit/<%= videogames._id%>" method = "post">
                        <div class = "form-group">
                            <input class = "form-control" type = "text" name = "title" value = "<%= videogames.title%>">
                        </div>
                        <div class = "form-group">
                            <input class = "form-control" type = "text" name = "description" value = "<%= videogames.description%>">
                        </div>
                        <div class = "form-group">
                            <input class = "form-control" type = "text" name = "genre" value = "<%= videogames.genre%>">
                        </div>
                        <button class = "btn btn-primary" type = "submit">
                            Edit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ("./partials/_footer") %>