<%- include ("./partials/_header") %>


<div class = "container">
    <div class = "row">
        <div class = "col-md-5">
            <div class = "card">
                <div class = "card-body">
                    <table class = "table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <strong> <%= user.username %>   </strong> </td>
                            </tr>
                        </tbody>
                        <!--AGREGAR LO NECESARIO PARA PONER EL NOMBRE DEL USUARIO-->
                    </table>
                </div>
            </div>
        </div>
        <div class = "col-md-6">
            <div class = "row-md-5">
                <h1>Favorites</h1>
            </div>
            <table class = "table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Genre</th>
                        <th>Do Stuff</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < videogames.length; i++)  {     %>
                        <tr>
                            <td> <strong> <%= videogames[i].title %>   </strong> </td>
                            <td>  <%= videogames[i].description %> </td>
                            <td>  <%= videogames[i].genre %> </td>
                            <td>
                                <a class = "btn btn-danger" href = ""> Remove </a>
                            </td>
                        </tr>
                        <%  }  %>
                    <%  }  %>
                </tbody>
            </table>
        </div>
    </div>
</div>


<%- include ("./partials/_footer") %>