<%- include ("./partials/_header") %>


<div class = "container">
    <div class = "row">
        <div class = "col-md-5">
            <div class = "card">
                <div class = "card-body">
                    <table class = "table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <strong> <%= user.username %>   </strong> </td>
                            </tr>
                        </tbody>
                        <!--AGREGAR LO NECESARIO PARA PONER EL NOMBRE DEL USUARIO-->
                    </table>
                    <a href=/check/<%=user._id%>  class="btn btn-primary" href="turn"> Home </a>
                </div>
            </div>
        </div>
        <div class = "col-md-6">
            <div class = "row-md-5">
                <h1>Favorites</h1>
            </div>
            <table class = "table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Genre</th>
                        <th>Do Stuff</th>
                    </tr>
                </thead>
                <tbody>
                    <!--CAMBIAR POR FAVORITOS-->
                    <% for (var i = 0; i < user.likedGames.length; i++)  {     %>
                        <tr>
                            <td> <strong> <%= user.likedGames[i].title %>   </strong> </td>
                            <td>  <%= user.likedGames[i].description %> </td>
                            <td>  <%= user.likedGames[i].genre %> </td>
                            <td>
                                <a href=/delete/<%=user._id%>/<%=user.likedGames[i]._id%>  class="btn btn-danger">Delete </a>
                            </td>
                        </tr>
                        <%  }  %>
                </tbody>
            </table>
        </div>
        
        <div class = "col-md-6">
            <div class = "row-md-5">
                <h1>Suggestions</h1>
            </div>
            <table class = "table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Genre</th>
                        <th>Do Stuff</th>
                    </tr>
                </thead>
                <tbody>
                    <!--CAMBIAR POR FAVORITOS-->
                    <% for (var i = 0; i < suggested.length; i++)  {     %>
                        <tr>
                            <td> <strong> <%= suggested[i].title %>   </strong> </td>
                            <td>  <%= suggested[i].description %> </td>
                            <td>  <%= suggested[i].genre %> </td>
                            <td>
                                <form action = /add/<%=user._id%>/<%=suggested[i]._id%> method = "post">
                                    <button class="btn btn-primary">Add </button>
                                </form>
                            </td>
                        </tr>
                        <%  }  %>
                </tbody>
            </table>
        </div>

    </div>
</div>

<%- include ("./partials/_footer") %>